In [1]:
import pandas as pd

In [3]:
train_split = pd.read_csv('train_split.csv')

In [4]:

df = pd.read_csv('gx_merged.csv')

In [5]:
 pd.merge(df, train_split,how='left',left_on=['country','brand'], right_on = ['country','brand'])

,country,brand,volume,month_num,month_name,test,num_generics,therapeutic_area,presentation,B,D,C,A
0,country_1,brand_3,7695813.6,0,Nov,0,3,Cardiovascular_Metabolic,PILL,1.189704,98.810296,0.0,0
1,country_1,brand_3,7975224.0,1,Dec,0,3,Cardiovascular_Metabolic,PILL,1.189704,98.810296,0.0,0
2,country_1,brand_3,5796840.6,2,Jan,0,3,Cardiovascular_Metabolic,PILL,1.189704,98.810296,0.0,0
3,country_1,brand_3,4895233.2,3,Feb,0,3,Cardiovascular_Metabolic,PILL,1.189704,98.810296,0.0,0
4,country_1,brand_3,6053583.6,4,Mar,0,3,Cardiovascular_Metabolic,PILL,1.189704,98.810296,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25307,country_9,brand_187,NaN,19,NaN,1,1,Antineoplastic_and_immunology,PILL,100.000000,0.000000,0.0,0
25308,country_9,brand_187,NaN,20,NaN,1,1,Antineoplastic_and_immunology,PILL,100.000000,0.000000,0.0,0
25309,country_9,brand_187,NaN,21,NaN,1,1,Antineoplastic_and_immunology,PILL,100.000000,0.000000,0.0,0
25310,country_9,brand_187,NaN,22,NaN,1,1,Antineoplastic_and_immunology,PILL,100.000000,0.000000,0.0,0
25311,country_9,brand_187,NaN,23,NaN,1,1,Antineoplastic_and_immunology,PILL,100.000000,0.000000,0.0,0